{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2010-12-01",
    "endpointPrefix": "email",
    "protocol": "query",
    "protocols": [
      "query"
    ],
    "serviceAbbreviation": "Amazon SES",
    "serviceFullName": "Amazon Simple Email Service",
    "serviceId": "SES",
    "signatureVersion": "v4",
    "signingName": "ses",
    "uid": "email-2010-12-01",
    "xmlNamespace": "http://ses.amazonaws.com/doc/2010-12-01/",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "SendBounce": {
      "name": "SendBounce",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendBounceRequest"
      },
      "output": {
        "shape": "SendBounceResponse",
        "resultWrapper": "SendBounceResult"
      },
      "errors": [
        {
          "shape": "MessageRejected"
        }
      ]
    },
    "SendBulkTemplatedEmail": {
      "name": "SendBulkTemplatedEmail",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendBulkTemplatedEmailRequest"
      },
      "output": {
        "shape": "SendBulkTemplatedEmailResponse",
        "resultWrapper": "SendBulkTemplatedEmailResult"
      },
      "errors": [
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "ConfigurationSetDoesNotExistException"
        },
        {
          "shape": "TemplateDoesNotExistException"
        },
        {
          "shape": "ConfigurationSetSendingPausedException"
        },
        {
          "shape": "AccountSendingPausedException"
        }
      ]
    },
    "SendCustomVerificationEmail": {
      "name": "SendCustomVerificationEmail",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendCustomVerificationEmailRequest"
      },
      "output": {
        "shape": "SendCustomVerificationEmailResponse",
        "resultWrapper": "SendCustomVerificationEmailResult"
      },
      "errors": [
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "ConfigurationSetDoesNotExistException"
        },
        {
          "shape": "CustomVerificationEmailTemplateDoesNotExistException"
        },
        {
          "shape": "FromEmailAddressNotVerifiedException"
        },
        {
          "shape": "ProductionAccessNotGrantedException"
        }
      ]
    },
    "SendEmail": {
      "name": "SendEmail",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendEmailRequest"
      },
      "output": {
        "shape": "SendEmailResponse",
        "resultWrapper": "SendEmailResult"
      },
      "errors": [
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "ConfigurationSetDoesNotExistException"
        },
        {
          "shape": "ConfigurationSetSendingPausedException"
        },
        {
          "shape": "AccountSendingPausedException"
        }
      ]
    },
    "SendRawEmail": {
      "name": "SendRawEmail",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendRawEmailRequest"
      },
      "output": {
        "shape": "SendRawEmailResponse",
        "resultWrapper": "SendRawEmailResult"
      },
      "errors": [
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "ConfigurationSetDoesNotExistException"
        },
        {
          "shape": "ConfigurationSetSendingPausedException"
        },
        {
          "shape": "AccountSendingPausedException"
        }
      ]
    },
    "SendTemplatedEmail": {
      "name": "SendTemplatedEmail",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendTemplatedEmailRequest"
      },
      "output": {
        "shape": "SendTemplatedEmailResponse",
        "resultWrapper": "SendTemplatedEmailResult"
      },
      "errors": [
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "ConfigurationSetDoesNotExistException"
        },
        {
          "shape": "TemplateDoesNotExistException"
        },
        {
          "shape": "ConfigurationSetSendingPausedException"
        },
        {
          "shape": "AccountSendingPausedException"
        }
      ]
    }
  },
  "shapes": {
    "AccountSendingPausedException": {
      "type": "structure",
      "members": {},
      "error": {
        "code": "AccountSendingPausedException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "Address": {
      "type": "string"
    },
    "AddressList": {
      "type": "list",
      "member": {
        "shape": "Address"
      }
    },
    "AmazonResourceName": {
      "type": "string"
    },
    "ArrivalDate": {
      "type": "timestamp"
    },
    "Body": {
      "type": "structure",
      "members": {
        "Text": {
          "shape": "Content"
        },
        "Html": {
          "shape": "Content"
        }
      }
    },
    "BounceType": {
      "type": "string",
      "enum": [
        "DoesNotExist",
        "MessageTooLarge",
        "ExceededQuota",
        "ContentRejected",
        "Undefined",
        "TemporaryFailure"
      ]
    },
    "BouncedRecipientInfo": {
      "type": "structure",
      "required": [
        "Recipient"
      ],
      "members": {
        "Recipient": {
          "shape": "Address"
        },
        "RecipientArn": {
          "shape": "AmazonResourceName"
        },
        "BounceType": {
          "shape": "BounceType"
        },
        "RecipientDsnFields": {
          "shape": "RecipientDsnFields"
        }
      }
    },
    "BouncedRecipientInfoList": {
      "type": "list",
      "member": {
        "shape": "BouncedRecipientInfo"
      }
    },
    "BulkEmailDestination": {
      "type": "structure",
      "required": [
        "Destination"
      ],
      "members": {
        "Destination": {
          "shape": "Destination"
        },
        "ReplacementTags": {
          "shape": "MessageTagList"
        },
        "ReplacementTemplateData": {
          "shape": "TemplateData"
        }
      }
    },
    "BulkEmailDestinationList": {
      "type": "list",
      "member": {
        "shape": "BulkEmailDestination"
      }
    },
    "BulkEmailDestinationStatus": {
      "type": "structure",
      "members": {
        "Status": {
          "shape": "BulkEmailStatus"
        },
        "Error": {
          "shape": "Error"
        },
        "MessageId": {
          "shape": "MessageId"
        }
      }
    },
    "BulkEmailDestinationStatusList": {
      "type": "list",
      "member": {
        "shape": "BulkEmailDestinationStatus"
      }
    },
    "BulkEmailStatus": {
      "type": "string",
      "enum": [
        "Success",
        "MessageRejected",
        "MailFromDomainNotVerified",
        "ConfigurationSetDoesNotExist",
        "TemplateDoesNotExist",
        "AccountSuspended",
        "AccountThrottled",
        "AccountDailyQuotaExceeded",
        "InvalidSendingPoolName",
        "AccountSendingPaused",
        "ConfigurationSetSendingPaused",
        "InvalidParameterValue",
        "TransientFailure",
        "Failed"
      ]
    },
    "Charset": {
      "type": "string"
    },
    "ConfigurationSetDoesNotExistException": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        }
      },
      "error": {
        "code": "ConfigurationSetDoesNotExist",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "ConfigurationSetName": {
      "type": "string"
    },
    "ConfigurationSetSendingPausedException": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        }
      },
      "error": {
        "code": "ConfigurationSetSendingPausedException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "Content": {
      "type": "structure",
      "required": [
        "Data"
      ],
      "members": {
        "Data": {
          "shape": "MessageData"
        },
        "Charset": {
          "shape": "Charset"
        }
      }
    },
    "CustomVerificationEmailTemplateDoesNotExistException": {
      "type": "structure",
      "members": {
        "CustomVerificationEmailTemplateName": {
          "shape": "TemplateName"
        }
      },
      "error": {
        "code": "CustomVerificationEmailTemplateDoesNotExist",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "Destination": {
      "type": "structure",
      "members": {
        "ToAddresses": {
          "shape": "AddressList"
        },
        "CcAddresses": {
          "shape": "AddressList"
        },
        "BccAddresses": {
          "shape": "AddressList"
        }
      }
    },
    "DiagnosticCode": {
      "type": "string"
    },
    "DsnAction": {
      "type": "string",
      "enum": [
        "failed",
        "delayed",
        "delivered",
        "relayed",
        "expanded"
      ]
    },
    "DsnStatus": {
      "type": "string"
    },
    "Error": {
      "type": "string"
    },
    "Explanation": {
      "type": "string"
    },
    "ExtensionField": {
      "type": "structure",
      "required": [
        "Name",
        "Value"
      ],
      "members": {
        "Name": {
          "shape": "ExtensionFieldName"
        },
        "Value": {
          "shape": "ExtensionFieldValue"
        }
      }
    },
    "ExtensionFieldList": {
      "type": "list",
      "member": {
        "shape": "ExtensionField"
      }
    },
    "ExtensionFieldName": {
      "type": "string"
    },
    "ExtensionFieldValue": {
      "type": "string"
    },
    "FromAddress": {
      "type": "string"
    },
    "FromEmailAddressNotVerifiedException": {
      "type": "structure",
      "members": {
        "FromEmailAddress": {
          "shape": "FromAddress"
        }
      },
      "error": {
        "code": "FromEmailAddressNotVerified",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "LastAttemptDate": {
      "type": "timestamp"
    },
    "MailFromDomainNotVerifiedException": {
      "type": "structure",
      "members": {},
      "error": {
        "code": "MailFromDomainNotVerifiedException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "Message": {
      "type": "structure",
      "required": [
        "Subject",
        "Body"
      ],
      "members": {
        "Subject": {
          "shape": "Content"
        },
        "Body": {
          "shape": "Body"
        }
      }
    },
    "MessageData": {
      "type": "string"
    },
    "MessageDsn": {
      "type": "structure",
      "required": [
        "ReportingMta"
      ],
      "members": {
        "ReportingMta": {
          "shape": "ReportingMta"
        },
        "ArrivalDate": {
          "shape": "ArrivalDate"
        },
        "ExtensionFields": {
          "shape": "ExtensionFieldList"
        }
      }
    },
    "MessageId": {
      "type": "string"
    },
    "MessageRejected": {
      "type": "structure",
      "members": {},
      "error": {
        "code": "MessageRejected",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "MessageTag": {
      "type": "structure",
      "required": [
        "Name",
        "Value"
      ],
      "members": {
        "Name": {
          "shape": "MessageTagName"
        },
        "Value": {
          "shape": "MessageTagValue"
        }
      }
    },
    "MessageTagList": {
      "type": "list",
      "member": {
        "shape": "MessageTag"
      }
    },
    "MessageTagName": {
      "type": "string"
    },
    "MessageTagValue": {
      "type": "string"
    },
    "ProductionAccessNotGrantedException": {
      "type": "structure",
      "members": {},
      "error": {
        "code": "ProductionAccessNotGranted",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "RawMessage": {
      "type": "structure",
      "required": [
        "Data"
      ],
      "members": {
        "Data": {
          "shape": "RawMessageData"
        }
      }
    },
    "RawMessageData": {
      "type": "blob"
    },
    "RecipientDsnFields": {
      "type": "structure",
      "required": [
        "Action",
        "Status"
      ],
      "members": {
        "FinalRecipient": {
          "shape": "Address"
        },
        "Action": {
          "shape": "DsnAction"
        },
        "RemoteMta": {
          "shape": "RemoteMta"
        },
        "Status": {
          "shape": "DsnStatus"
        },
        "DiagnosticCode": {
          "shape": "DiagnosticCode"
        },
        "LastAttemptDate": {
          "shape": "LastAttemptDate"
        },
        "ExtensionFields": {
          "shape": "ExtensionFieldList"
        }
      }
    },
    "RemoteMta": {
      "type": "string"
    },
    "ReportingMta": {
      "type": "string"
    },
    "SendBounceRequest": {
      "type": "structure",
      "required": [
        "OriginalMessageId",
        "BounceSender",
        "BouncedRecipientInfoList"
      ],
      "members": {
        "OriginalMessageId": {
          "shape": "MessageId"
        },
        "BounceSender": {
          "shape": "Address"
        },
        "Explanation": {
          "shape": "Explanation"
        },
        "MessageDsn": {
          "shape": "MessageDsn"
        },
        "BouncedRecipientInfoList": {
          "shape": "BouncedRecipientInfoList"
        },
        "BounceSenderArn": {
          "shape": "AmazonResourceName"
        }
      }
    },
    "SendBounceResponse": {
      "type": "structure",
      "members": {
        "MessageId": {
          "shape": "MessageId"
        }
      }
    },
    "SendBulkTemplatedEmailRequest": {
      "type": "structure",
      "required": [
        "Source",
        "Template",
        "DefaultTemplateData",
        "Destinations"
      ],
      "members": {
        "Source": {
          "shape": "Address"
        },
        "SourceArn": {
          "shape": "AmazonResourceName"
        },
        "ReplyToAddresses": {
          "shape": "AddressList"
        },
        "ReturnPath": {
          "shape": "Address"
        },
        "ReturnPathArn": {
          "shape": "AmazonResourceName"
        },
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        },
        "DefaultTags": {
          "shape": "MessageTagList"
        },
        "Template": {
          "shape": "TemplateName"
        },
        "TemplateArn": {
          "shape": "AmazonResourceName"
        },
        "DefaultTemplateData": {
          "shape": "TemplateData"
        },
        "Destinations": {
          "shape": "BulkEmailDestinationList"
        }
      }
    },
    "SendBulkTemplatedEmailResponse": {
      "type": "structure",
      "required": [
        "Status"
      ],
      "members": {
        "Status": {
          "shape": "BulkEmailDestinationStatusList"
        }
      }
    },
    "SendCustomVerificationEmailRequest": {
      "type": "structure",
      "required": [
        "EmailAddress",
        "TemplateName"
      ],
      "members": {
        "EmailAddress": {
          "shape": "Address"
        },
        "TemplateName": {
          "shape": "TemplateName"
        },
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        }
      }
    },
    "SendCustomVerificationEmailResponse": {
      "type": "structure",
      "members": {
        "MessageId": {
          "shape": "MessageId"
        }
      }
    },
    "SendEmailRequest": {
      "type": "structure",
      "required": [
        "Source",
        "Destination",
        "Message"
      ],
      "members": {
        "Source": {
          "shape": "Address"
        },
        "Destination": {
          "shape": "Destination"
        },
        "Message": {
          "shape": "Message"
        },
        "ReplyToAddresses": {
          "shape": "AddressList"
        },
        "ReturnPath": {
          "shape": "Address"
        },
        "SourceArn": {
          "shape": "AmazonResourceName"
        },
        "ReturnPathArn": {
          "shape": "AmazonResourceName"
        },
        "Tags": {
          "shape": "MessageTagList"
        },
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        }
      }
    },
    "SendEmailResponse": {
      "type": "structure",
      "required": [
        "MessageId"
      ],
      "members": {
        "MessageId": {
          "shape": "MessageId"
        }
      }
    },
    "SendRawEmailRequest": {
      "type": "structure",
      "required": [
        "RawMessage"
      ],
      "members": {
        "Source": {
          "shape": "Address"
        },
        "Destinations": {
          "shape": "AddressList"
        },
        "RawMessage": {
          "shape": "RawMessage"
        },
        "FromArn": {
          "shape": "AmazonResourceName"
        },
        "SourceArn": {
          "shape": "AmazonResourceName"
        },
        "ReturnPathArn": {
          "shape": "AmazonResourceName"
        },
        "Tags": {
          "shape": "MessageTagList"
        },
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        }
      }
    },
    "SendRawEmailResponse": {
      "type": "structure",
      "required": [
        "MessageId"
      ],
      "members": {
        "MessageId": {
          "shape": "MessageId"
        }
      }
    },
    "SendTemplatedEmailRequest": {
      "type": "structure",
      "required": [
        "Source",
        "Destination",
        "Template",
        "TemplateData"
      ],
      "members": {
        "Source": {
          "shape": "Address"
        },
        "Destination": {
          "shape": "Destination"
        },
        "ReplyToAddresses": {
          "shape": "AddressList"
        },
        "ReturnPath": {
          "shape": "Address"
        },
        "SourceArn": {
          "shape": "AmazonResourceName"
        },
        "ReturnPathArn": {
          "shape": "AmazonResourceName"
        },
        "Tags": {
          "shape": "MessageTagList"
        },
        "ConfigurationSetName": {
          "shape": "ConfigurationSetName"
        },
        "Template": {
          "shape": "TemplateName"
        },
        "TemplateArn": {
          "shape": "AmazonResourceName"
        },
        "TemplateData": {
          "shape": "TemplateData"
        }
      }
    },
    "SendTemplatedEmailResponse": {
      "type": "structure",
      "required": [
        "MessageId"
      ],
      "members": {
        "MessageId": {
          "shape": "MessageId"
        }
      }
    },
    "TemplateData": {
      "type": "string",
      "max": 262144
    },
    "TemplateDoesNotExistException": {
      "type": "structure",
      "members": {
        "TemplateName": {
          "shape": "TemplateName"
        }
      },
      "error": {
        "code": "TemplateDoesNotExist",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true
    },
    "TemplateName": {
      "type": "string"
    }
  }
}
